<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.9.1" targetFramework="net481" />
  <package id="ini-parser" version="2.5.2" targetFramework="net481" />
  <package id="Magick.NET.Core" version="13.4.0" targetFramework="net481" />
  <package id="Magick.NET-Q8-AnyCPU" version="13.4.0" targetFramework="net481" />
</packages>